USE [master]
GO
/****** Object:  Database [ChattDB]    Script Date: 23.04.2024 13:36:25 ******/
CREATE DATABASE [ChattDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChattDB', FILENAME = N'D:\project\DataBase\ChattDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChattDB_log', FILENAME = N'D:\project\DataBase\ChattDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChattDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChattDB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.04.2024 13:36:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password], [FirstName], [LastName]) VALUES (1, N'Sov', N'123', N'Дмитрий', N'Капа')
INSERT [dbo].[Users] ([Id], [Login], [Password], [FirstName], [LastName]) VALUES (3, N'Sovet', N'12345', N'dfg', N'dfg')
INSERT [dbo].[Users] ([Id], [Login], [Password], [FirstName], [LastName]) VALUES (1003, N'Orbit', N'123', N'Дима', N'Капа')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
USE [master]
GO
